.container {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 2px ;
}

.comp-holder {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin-top: 25px;
}

.box-container {
  display: flex;
  gap: 24px;
}

.box {
  border: 2px solid black;
  width: 72px;
  height: 72px;
  display: grid;
  place-items: center;
  font-weight: 800;
  cursor: pointer;
}

.paragraph {
  font-weight: bold;
  font-size: 24px;
}
